.todo{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.list{
    height: 2rem;
    width: 15rem;
    background-color: rgb(158, 109, 251) ;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}
p{
    color: aliceblue;
    padding-right: 20px;
}
.Icon{
    color: aliceblue;
}